
	body{
		
	}
	header {
		background-color: #808080;
		color: white;
		padding: 1px;
	}
	img {
		border-radius: 8px;

	}

	/* The sidebar menu */
.sidenav {
  height: 100%; 
  width: 100px; 
  position: fixed; 
  top: 0; 
  left: 0;
  background-color: #111; 
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 150px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 160px; 
  padding: 0px 10px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}